<H3>検索結果をAjaxで受け取る</H3>

<%= form_for @book_search_form, url: books_index_ajax_path, method: :get, remote: true do |f| %>
  <% if @book_search_form.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-danger">
        <%= pluralize(@book_search_form.errors.count, "error") %>
        <ul>
        <% @book_search_form.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="row form-group">
    <div class="col-md-2">
      <%= f.label :title %>
    </div>
    <div class="col-md-2">
      <%= f.text_field :title, class: 'form-control' %>
    </div>
  </div>

  <div class="row form-group">
    <div class="col-md-2">
      <%= f.label :author %>
    </div>
    <div class="col-md-2">
      <%= f.text_field :author, class: 'form-control' %>
    </div>
  </div>

  <div class="row form-group">
    <div class="col-md-2">
      <%= f.label :publisher %>
    </div>
    <div class="col-md-2">
      <%= f.text_field :publisher, class: 'form-control' %>
    </div>
  </div>

  <div class="row form-group">
    <div class="col-md-2">
      <%= f.label :isbn %>
    </div>
    <div class="col-md-2">
      <%= f.text_field :isbn, class: 'form-control' %>
    </div>
  </div>

  <div class="row">
    <%= f.submit '検索', class: 'btn btn-primary' %>
  </div>

<% end %>

<hr/>
<div id="results">
</div>
