<!DOCTYPE html>
<html>
<head>
  <title>Toybox</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">
      </div>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to 'Toybox', root_path, class: 'navbar-brand' %></li>
        <% if user_signed_in? %>
        <li class="pull-right"><%= link_to "", destroy_user_session_path, :method => :delete, class: "glyphicon glyphicon-log-out" %></li>
        <% end %>
      </ul>
    </div>
  </header>

  <div class="container">
    <% if notice %>
      <div class="alert alert-success" role="alert"><%= notice %></div>
    <% end %>
    <% if alert %>
      <div class="alert alert-danger" role="alert"><%= alert %></div>
    <% end %>
    <%= yield %>
  </div>

</body>
</html>
